* {
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 4px;
}

/*Deslizar elementos*/
.slideanim {visibility:hidden;}
.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

.cyan {
  color: #1BCBFF;
}

.text-white {
  color: #ffffff;
}

.glyphicon-chevron-down,
.glyphicon-chevron-up {
	font-size: 1.8em;
}

/*Header*/
nav {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
}

.text-typing{
  color: #ffffff;
  font-family: 'Courier';
  overflow:hidden;
  white-space:nowrap;
  width: 3em;
  -webkit-animation: type 1s steps(6), blink 1s linear infinite;
  margin: auto;
  padding:0;
  border-right: .1em solid;
  line-height: 1.3em;
}

h1.title{
  color: #ffffff;
  font-size: 100px;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 20px;
	font-weight: bold;
}

.text-typing:nth-child(2){
  width:14em;
  -webkit-animation: type2 3s steps(21), blink 1s linear infinite;
	padding: 0;
}

@keyframes type{
  from{width:0}
}
@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; }
}
@keyframes blink{
  0%,100%{border-color:transparent}
  50%{border-color: #1BCBFF}
}

/*Home*/
#home {
  height: 662px;
  padding: 0;
  background-image: url(../img/sunset-home.jpg);
  background-position: -10% 100%;
  background-size: cover;
  background-repeat: no-repeat;
  filter:grayscale(0%);
  margin-bottom: 0;
  padding-top: 16em;
}

#home h4 {
	color: #ffffff;
	margin-top: 10em;
	letter-spacing: 2px;
}

#home a {
	color: #ffffff;
}

/*About*/
#about {
  margin-top: 2.5em;
	margin-bottom: 4em;
  background-color: #ffffff;
}

#about .row div {

}

#about p {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1.5px;
  font-size: 16px;
	color: #333131;
}

/*Portfolio*/
#portfolio h2 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
	font-weight: bold;
}

#portfolio {
  padding: 7em 0;
  background-image: url(../img/wall-3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#portfolio .container .row {
	background-color: rgba(0, 0, 0, 0.7);
}

#portfolio .portfolio-title {
	padding: 2em;
	display: inline-block;
	margin-bottom: 1em;
}

#portfolio .item {
	cursor: pointer;
	margin-bottom: 4em;
}

#portfolio .item div {
	padding: 0;
}

#portfolio .item-img {
	background-size: cover;
	height: 350px;
}

#portfolio p {
	color: #ffffff;
	font-size: 16px;
}

#portfolio a {
	margin-top: 1em;
	font-size: 1.2em;
	letter-spacing: 0;
}

div#pinterest {
	background-image: url(../img/pinterest.png);
}

div#yape {
	background-image: url(../img/yape.png);
}

div#labcar {
	background-image: url(../img/labcar.png);
}

/*contact*/
#contact {
	background-color: #ffffff;
	padding-top: 4.5em;
	padding-bottom: 5em;
}

#contact h2 {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-weight: bold;
}

#contact a {
	text-decoration: none;
	color: #333131;
}

#contact .glyphicon-chevron-up {
	margin-top: 1.5em;
}

#contact i {
	font-size: 3.5em;
	margin: 0.4em;
}

/*footer*/
footer.container-fluid {
	background-color: #222222;
	color: #ffffff;
	padding-top: 20px;
	padding-bottom: 10px;
}

footer h6 {
	letter-spacing: 1.5px;
}

@media only screen and (max-width: 900px) {
	#home {
	  height: auto;
	  background-position: center;
	}
}

/*Yape*/
.carousel {
  height: 100vh;
  width: 100%;
  overflow:hidden;
}
.carousel .carousel-inner,
.carousel .item {
  height:100%;
	width: 100%;
}

.carousel-control .glyphicon {
	color: #333131;
}

.carousel-control {
	width: 2em;
}
