* {
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 4px;
}

body {
	background-color: #ffffff;
}

/*Deslizar elementos*/
.slideanim {visibility:hidden;}
.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

.cyan {
  color: #1BCBFF;
}

.text-white {
  color: #ffffff;
}

.fa-angle-double-down,
.glyphicon-chevron-up {
	font-size: 1.8em;
	padding: 10px;
	display: inline-block;
	-webkit-animation: next-section-bounce 1.5s infinite;
	-moz-animation: next-section-bounce 1.5s infinite;
	animation: next-section-bounce 1.5s infinite;
}

@-webkit-keyframes next-section-bounce {
    0% {
    	-webkit-transform: translateY(5px);
    	opacity: 0.8;
    }
    50% {
    	-webkit-transform: translateY(-5px);
    	opacity: 1;
    }
    100% {
    	-webkit-transform: translateY(5px);
    	opacity: 0.8;
    }
}
@-moz-keyframes next-section-bounce {
    0% {-moz-transform: translateY(5px);}
    50% {-moz-transform: translateY(-5px);}
    100% {-moz-transform: translateY(5px);}
}
@keyframes next-section-bounce {
    0% {transform: translateY(5px);}
    50% {transform: translateY(-5px);}
    100% {transform: translateY(5px);}
}

/*Home*/


/*Header*/
nav.navbar-inverse {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
	background-color: rgba(34, 34, 34, 0.8);
	border: none;
}

.navbar-inverse .navbar-nav li a {
	color: #ffffff;
}

.navbar-inverse .navbar-nav li a:hover {
	color: #bbb7b7;
}

.navbar-inverse .navbar-nav .active a {
	background-color: rgba(0, 0, 0, 0.5);
}

.text-typing{
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: 4px;
  overflow:hidden;
  white-space:nowrap;
  width: 17em;
  -webkit-animation: type 1s steps(6), blink 1s linear infinite;
  margin: auto;
	margin-bottom: 9em;
  padding:0;
  border-right: .1em solid;
  line-height: 2em;
}

h1.title{
  color: #ffffff;
  font-size: 100px;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 20px;
	font-weight: bold;
}

.text-typing:nth-child(2){
  -webkit-animation: type2 3s steps(21), blink 1s linear infinite;
	padding: 0;
}

@keyframes type{
  from{width:0}
}
@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; }
}
@keyframes blink{
  0%,100%{border-color:transparent}
  50%{border-color: #1BCBFF}
}

/*Home*/
@keyframes animatedBackground {
	0% { background-position: 100% 0 100% 100%; }
	50% { background-position: 100% 50% 100% 100%; }
  100% { background-position: 100% 100% 100% 100%; }
}

#home {
  height: 662px;
  padding: 0;
  background-image: url(../img/fondo4.png);
  background-position: -10% 100%;
  background-size: cover;
  background-repeat: no-repeat;
  filter:grayscale(0%);
  margin-bottom: 0;
  padding-top: 14em;
	-webkit-animation: animatedBackground 2s linear infinite;
}

#home .row {
	margin: 0;
	background-image: radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px), radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px), radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
	background-size: 550px 550px, 280px 280px, 250px 250px, 150px 150px;
}

#home h1 {
	font-family: 'Gruppo', sans-serif;
	font-size:10vw;
	color: #ffffff;
	letter-spacing: 0.10em;
}

#home a {
	color: #ffffff;
	font-size: 22px;
}

/*About*/
#about {
  padding-top: 4em;
	padding-bottom: 4em;
	background-color: #f0f2f2;
}

#about .row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#about p {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1.5px;
  font-size: 16px;
	color: #333131;
}

#about .img-circle {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

/*skills*/
#skills {
	background-color: #ffffff;
	padding-top: 5em;
	padding-bottom: 6em;
}

#skills h2 {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-weight: bold;
	margin-bottom: 2.5em;
}

/*
#skills section {
	width: 61.8%;
	margin: 0 auto;
}

#skills ul {
	font-size: 1.25em;
	padding: 0;
}

#skills li {
	list-style: none;
	display: block;
	height: 2.63em;
	background-color: silver;
	background-color: rgba(255, 255, 255, 0.7);
	margin-bottom: 1em;
	margin-right: 38%;
	padding-left: 3em;
	line-height: 2.6em;
	white-space: nowrap;
	border-radius: 1.3em 0 0 1.3em;
	position: relative;
	box-shadow: 1px 1px rgba(255, 255, 255, 0.15);
	animation: moveout;
	animation-duration: 1.5s;
	animation-delay: 0.5s;
}

#skills li.anim.ated {
	width: 62%;
}

#skills li::before {
	content: '\2713';
	display: block;
	color: #fff;
	text-align: center;
	background-color: #131313;
	border-radius: 50%;
	height: 2em;
	width: 2em;
	line-height: 2em;
	position: absolute;
	left: 0.3em;
	top: 0.3em;
}

#skills li::after {
	content: '';
	background-color: #fff;
	display: block;
	height: 2.6em;
	width: 0;
	position: absolute;
	left: 100%;
	top: 0;
	transform: skewY(30deg);
	transform-origin: 0 0;
	transition: 0.5s ease-out all;
	box-shadow: 1px 1px rgba(255, 255, 255, 0.15);
}

#skills li.anim.ated::after {
	width: 38%;
}

#skills li a i {
	text-transform: uppercase;
	text-decoration: none;
	transition: 0.3s all ease;
}

#skills li a:hover {
	border-bottom: 1px solid black;
}

@keyframes moveout {
	0% {
		width: 2.6em;
		overflow: hidden
	}
	100% {
		width: 62%
	}
}

@keyframes diagon {
	0% {
		width: 0;
	}
	100% {
		width: 38%;
	}
}
#div2 {
    border-bottom: 25px solid #black;
    border-right: 25px solid transparent;
    height: 0;
    width: 100%;
    position: fixed;
    bottom: 0;
	left: 0;
}
#div2::after {
    content: '';
    display: block;
    border-bottom: 25px solid #black;
    border-right: 25px solid transparent;
    height: 0;
    width: 75%;
    position: absolute;
    bottom: 100%;
}
#div2::before {
    content: '';
    display: block;
    border-bottom: 25px solid #black;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width: 35%;
    position: absolute;
    top: -50px;
    left: calc(75% - (35% + 50px));
}
*/
/*Portfolio*/
#portfolio h2 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
	font-weight: bold;
}

#portfolio {
  padding: 7em 0;
	background-color: #64B3B7;
  background-image: url(../img/wall-3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#portfolio .container .row {
	background-color: rgba(0, 0, 0, 0.7);
	padding: 0 60px;
}

#portfolio .portfolio-title {
	padding: 2em;
	display: inline-block;
	margin-bottom: 1em;
}

#portfolio .item {
	cursor: pointer;
	margin-bottom: 4em;
	padding-left: 30px;
	padding-right: 30px;
}

#portfolio .item div {
	padding: 0;
}

#portfolio .item-img {
	background-size: cover;
	height: 300px;
}

#portfolio p {
	color: #ffffff;
	font-size: 16px;
}

#portfolio a {
	margin-top: 1em;
	margin-bottom: 1em;
	font-size: 1.2em;
	letter-spacing: 0;
}

div#flash {
	background-image: url(../img/flash.png);
}

div#pinterest:hover {

}

div#yape {
	background-image: url(../img/yape-1.png);
}

div#labcar {
	background-image: url(../img/labcar.png);
}

/*contact*/
#contact {
	background-color: #ffffff;
	padding-top: 4.5em;
	padding-bottom: 5em;
}

#contact h2 {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-weight: bold;
}

#contact a {
	text-decoration: none;
	color: #333131;
}

#contact a:hover {
	color: #1BCBFF;
}

#contact .glyphicon-chevron-up {
	margin-top: 1.5em;
}

#contact i {
	font-size: 3.5em;
	margin: 0.4em;
}

/*footer*/
footer.container-fluid {
	background-color: #b1b6b8;
	color: #ffffff;
	padding-top: 20px;
	padding-bottom: 10px;
}

footer h6 {
	letter-spacing: 1.5px;
}

@media only screen and (max-width: 900px) {
	h2 {
		font-size:1em;
	}

	#home {
	  height: auto;
	  background-position: center;
		padding-top: 5em;
		margin-top: 3em;
	}

	#about .row {
		text-align: center;
	}

	#portfolio .container .row {
		padding: 0;
		text-align: center;
	}

	#skills .item {
		padding-top: 2em;
		padding-bottom: 2em;
	}

	#contact p {
		letter-spacing: 0.1rem;
	}

}

/*Yape*/
.carousel {
  height: 100vh;
  width: 100%;
  overflow:hidden;
}
.carousel .carousel-inner,
.carousel .item {
  height:100%;
	width: 100%;
}

.carousel-control .glyphicon {
	color: #333131;
}

.carousel-control {
	width: 2em;
}
